
body{
    font-family: 'gg Sans', sans-serif;
}

/* nav bar */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3160e1;
    padding: 6px;
    color: white;
}

.header-section {
    background-color: #3160e1;
    min-height: 400px;
    display: flex;
}

#flex-header {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    min-height: 250px;
}


button{
    margin: 0px 10px 0px 10px ;
}

ul li{
	list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

ul{
    display: flex;
    justify-content:space-between;
}

/* -------------------------------------------- */
/* section 1 */

#sec-1{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    min-height: 400px;
    background-color: #ffffff;
    justify-content: normal;
    align-items: normal;
}

#sec1-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 60%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

#div1-sec1{
    display: flex;
    width: 60%;
    background-color: rgb(255, 255, 255);
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#div2-sec1{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    min-height: 350px;
    justify-content: center;
    align-items: center;
    text-align: start;
}

/* section 2 */

#sec-2{
    display: flex;
    min-height: 400px;
    background-color: #f7f6f7;
    justify-content: center;
    align-items: center;
}

#sec2-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 60%;
    background-color: #f7f6f7;
    justify-content: center;
    align-items: center;
}

#div1-sec2{
    display: flex;
    width: 60%;
    background-color: #f7f6f7;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#div2-sec2{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 1;
    background-color: #f7f6f7;
    min-height: 350px;
    justify-content: center;
    align-items: center;
    text-align: start;
}

/* section 3 */

#sec-3{
    display: flex;
    flex-direction: column-reverse;
    min-height: 400px;
    background-color: #ffffff;
    justify-content: normal;
    align-items: normal;
    position: relative;
    /* padding-bottom: 400px; */
}

#sec3-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 60%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

#div1-sec3{
    display: flex;
    width: 60%;
    background-color: rgb(255, 255, 255);
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#div2-sec3{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    min-height: 350px;
    justify-content: center;
    align-items: center;
    text-align: start;
}


/* section 4 */

#sec-4{
    background-color: #f7f6f7;
    display: flex;
    /* min-height: 600px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

#sec4-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 60%;
    min-height: 500px;
    background-color: #f7f6f7;
    align-items: center;
}

/* ------------------------------------- */
/* footer */

footer{
    background-color: #23272a;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    align-items: center;
    color: white;
}

#foot-div{
    margin: auto;
    width: 60%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#footer-sec{
    display: flex;
    justify-content: space-between;
}

#signup{
    display: flex;
    justify-content: space-between;
}








/* --- */

/* section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    background: #3c31dd;
} */

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 50%;
    transform: translate(85%, 60%);
    background-color: #f7f6f7;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 50%;
    background-color: #ffffff;
    transform: translate(-4%, 40%);
    z-index: 1;
}