
body{
    font-family: 'gg Sans', sans-serif;
}

/* nav bar */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgoldenrodyellow;
    padding: 6px;
}

.header-section {
    background-color: #3160e1;
    min-height: 400px;
    display: flex;
}

#flex-header {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    min-height: 250px;
}


button{
    margin: 0px 10px 0px 10px ;
}

ul li{
	list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

ul{
    display: flex;
    justify-content:space-between;
}

/* -------------------------------------------- */
/* section 1 */

#sec-1{
    display: flex;
    min-height: 400px;
    background-color: #fffefe;
    justify-content: center;
    align-items: center;
}

#sec1-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 60%;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
}

#div1-sec1{
    display: flex;
    width: 60%;
    background-color: lightblue;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#div2-sec1{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 1;
    background-color: pink;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

/* section 2 */

#sec-2{
    display: flex;
    min-height: 400px;
    background-color: #f7f6f7;
    justify-content: center;
    align-items: center;
}

#sec2-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 60%;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
}

#div1-sec2{
    display: flex;
    width: 60%;
    background-color: lightblue;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#div2-sec2{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 1;
    background-color: pink;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

/* section 3 */

#sec-3{
    display: flex;
    min-height: 400px;
    background-color: #fffefe;
    justify-content: center;
    align-items: center;
}

#sec3-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 60%;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
}

#div1-sec3{
    display: flex;
    width: 60%;
    background-color: lightblue;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#div2-sec3{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 1;
    background-color: pink;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}


/* section 4 */

#sec-4{
    background-color: #f7f6f7;
    display: flex;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sec4-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 60%;
    min-height: 500px;
    background-color: lightpink;
    align-items: center;
}

/* ------------------------------------- */
/* footer */

footer{
    background-color: #23272a;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    align-items: center;
    color: white;
}

#foot-div{
    margin: auto;
    width: 60%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#footer-sec{
    display: flex;
    justify-content: space-between;
}

#signup{
    display: flex;
    justify-content: space-between;
}