
body{
    font-family: 'gg Sans', sans-serif;
}

/* nav bar */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgoldenrodyellow;
    padding: 6px;
}

.header-section {
    background-color: #3160e1;
    min-height: 400px;
    display: flex;
}

#flex-header {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    min-height: 250px;
}


button{
    margin: 0px 10px 0px 10px ;
}


/* -------------------------------------------- */
/* section 1 */

#sec-1{
    display: flex;
    min-height: 400px;
    background-color: #fffefe;
    justify-content: center;
    align-items: center;
}

#sec1-1{
    display: flex;
    min-height: 350px;
    margin: auto;
    width: 60%;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
}

#div1-sec1{
    display: flex;
    width: 60%;
    background-color: lightblue;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}

#div1-sec2{
    display: flex;
    width: 40%;
    flex-direction: column;
    flex-grow: 1;
    background-color: pink;
    min-height: 350px;
    justify-content: center;
    align-items: center;
}